 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, #333333);
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  margin: 145px auto 0 401px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 111px 410px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -45px auto 60px 401px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 331px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 210px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 254px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 120px;
    font-size: 3rem;
  }
}